<div class='box'>
	<div id='action-0-general' class='columns'>
		<div class='column is-11'>
			<div class='field'>
				<input type="text" name="action-0-name" class='input' placeholder='Action Name'>
			</div>
		</div>
		<div class='column'>
			<span class="icon is-pulled-right" style='cursor: pointer;' onclick='expandCollapseOnClick(0);'>
				<i id='action-0-general-icon' class="fas fa-chevron-up" aria-hidden="true"></i>
			</span>
		</div>
	</div>
	<div id='action-0-intent'>
		<hr>
		<h2 class='title is-5'>Intent</h2>
		<div class='columns is-centered'>
			<div id='action-0-intent-trigger' class='column'>
				<div class='box'>
					{% include 'snippets/add_action_package/action/trigger.html' %}
				</div>
			</div>
			<div class='column'>
				{% include 'snippets/add_action_package/action/parameters.html' %}
			</div>
		</div>
	</div>
	<div id='action-0-fulfillment'>
		<hr>
		<h2 class='title is-5'>Fulfillment</h2>
		<div class='box' style='background-color:#272822'>
			<div class='columns'>
				<div class='column'>
					<div id='editor' style='position: width:100%;height:500px;'></div>
				</div>
				<div class='column'>

				</div>
			</div>
		</div>
	</div>
  </div>
