<div class='card'>
  <header class="card-header">
    <p class="card-header-title">
      Tasks
    </p>
    <div class="card-header-icon">
      <span class="icon">
      <i id='tasks-icon' class="fas fa-check-circle has-text-success" aria-hidden="true"></i>
      </span>
    </div>
  </header>
  <div class='card-content'>
    <div class='content'>
      <span class="icon">
        <i id='tasks-manifest-icon' class="fas fa-check-circle has-text-success" aria-hidden="true"></i>
      </span>
      Complete manifest<br>
      <span class="icon">
        <i id='tasks-action-icon' class="fas fa-check-circle has-text-success" aria-hidden="true"></i>
      </span>
      Complete action<br>
    </div>
  </div>
</div>
