<!doctype html>
<html lang="en">

	<head>
		{% include 'snippets/head.html' %}
		<script src='/static/ace/ace.js' type='text/javascript' charset='utf-8'></script>
		<script src='/static/js/add_action_package.js'></script>
	</head>

	<body onload="setupEditor();validateManifest(false);validateAction(false);">
		{% include 'snippets/navbar.html' %}

		<form action="/action_package/add/create" method="post">
			<section class="section">
				<div class='columns'>
					<div class='column'>
						{% include 'snippets/add_action_package/tasks.html' %}
					</div>
					<div class='column'>
						{% include 'snippets/add_action_package/manifest.html' %}
					</div>
				</div>
				{% include 'snippets/add_action_package/actions.html' %}
				<textarea name="code" id='code-text-area' hidden></textarea>
				<input type="submit">
			</section>
		</form>
	</body>

</html>
