<!doctype html>
<html lang="en">

	<head>
		{% include 'snippets/head.html' %}
	</head>

	{% include 'snippets/navbar.html' %}

	<body>
		<section class="section">
			<div class='columns'>

				<div class='column'>
					<div class='card'>
						<header class="card-header">
							<p class='card-header-title'>My Action Packages</p>
						</header>
						<div class='card-contents'>
							<div class='content'></div>
								<ul>
									{% for action in registeredActions %}
										<li>{{ action }}</li>
									{% endfor %}
								</ul>
							</div>
							<footer class='card-footer'>
								<a href='/action_package/add' class='card-footer-item'>Create Action package</a>
							</footer>
						</div>

					</div>
					<div class='column'>

						<div class='card'>
							<header class="card-header">
								<p class='card-header-title'>My Remote Processors</p>
							</header>
							<div class='card-contents'>
								{% for processor in remote_processors %}
									<div class='content'>
										<div class='box'>
											<div class='columns'>
												<div class='column is-10'>
													<b>{{remote_processors[processor]['INFO']['name']}}</b><br>
													<i>{{remote_processors[processor]['INFO']['description']}}</i>
												</div>
												<div class='column'>
													<span class="icon is-large">
													  <i class="fas fa-2x fa-laptop-code"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								<footer class='card-footer'>
									<a href='/remote-processor/setup' class='card-footer-item'>Add Remote Processor</a>
								</footer>
							</div>
						</div>

					</div>
					<div class='column'></div>
				</div>
			</div>
		</section>

	</body>

</html>
