<!doctype html>
<html lang="en">

	<head>
		{% include 'snippets/head.html' %}
		<script src='/static/ace/ace.js' type='text/javascript' charset='utf-8'></script>
		<script src='/static/js/program_remote_processor.js'></script>
	</head>

	<body onload="setupEditor();">
		{% include 'snippets/navbar.html' %}

		<section class="section">
			<div class="card">
			    <header class="card-header">
			        <p class="card-header-title">
			            Code Editor
			        </p>
			    </header>
			    <div class="card-content" style="padding:0">
			        <div id="editor" style="width:100%;height:500px;"></div>
			    </div>
			    <footer class="card-footer">
			        <a class="card-footer-item" onclick="upload({{ id }});">Upload</a>
			    </footer>
			</div>

			<hr class="hr">
			<div class="card">
			    <header class="card-header">
			        <p class="card-header-title">
			            Test
			        </p>
			    </header>
			    <div class="card-content">
			        <div class="content">

			        </div>
			    </div>
			</div>
		</section>

	</body>

</html>
