<h2 class="subtitle is-5">Step 2 - General details</h2>

<div id="2_1" class="content substep">
<span class="icon"><i class="fas fa-times-circle"></i></span>
<b>2.1</b> Set device name: <input class='input' type='text' id='dev-name'></input>
<span class="icon"><i class="fas fa-check"></i></span> Done
</div>

<div id="2_2" class="content substep">
<span class="icon"><i class="fas fa-times-circle"></i></span>
<b>1.2</b> Connect remote processor to raspberry pi
<span class="icon"><i class="fas fa-check"></i></span> Done
</div>

<div id="2_3" class="content substep">
<span class="icon"><i class="fas fa-times-circle"></i></span>
<b>1.2</b> Connect remote processor to raspberry pi
<span class="icon"><i class="fas fa-check"></i></span> Done
<a class="button is-loading"></a> Locating Remote Processor
</div>
