<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Assistant
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Actions
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Settings
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
		  <div class='content' id='assistant-status'>
		  </div>
      </div>
    </div>
  </div>
</nav>

<script>
	function setAssistantStatus() {
		var request = new XMLHttpRequest();
		request.onreadystatechange = function() {
			if (request.readyState == 4 && request.status == 200) {
				document.getElementById('assistant-status').innerHTML = 'Assistant: ' + request.responseText;
			}
		}
		request.open('GET', '/is-assistant-running', true);
		request.send(null);
	}

	//window.setInterval(setAssistantStatus, 1500);
</script>
