<nav class="panel" style='background-color: white; border-radius:6px; border:none; height: 100%;'>
  <p class="panel-heading" style='margin-bottom: 0;'>
    Devices
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    {% for device in device_manifest %}
        <a>{{ device_manifest[device]['INFO']['name'] }}</a>
    {% endfor %}
  </p>
  <div id='editor-reference-devices'>
      {% for device in device_manifest %}
        {% for callable in device_manifest[device]['callables'] %}
            <a class='panel-block'>
              <span class='panel-icon'>
                <i class='fas fa-code' aria-hidden='true'></i>
              </span>
              <div style='width:100%;'>
                  <div class='is-pulled-left'>{{ callable }}</div>
                  <div class='is-pulled-right has-text-grey is-italic'>
                      devices[{{ device }}].{{ callable }}(
                      {% for arg in device_manifest[device]['callables'][callable] %}
                        {{ arg }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                      {% endfor %}
                      )
                  </div>
              </div>
            </a>
        {% endfor %}
      {% endfor %}
  </div>
  <div id='editor-reference-variables'>

  </div>
</nav>
